<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/font.css">
</head>
<body>
    <!--
         app.js barname asli hast ke ba Vue , mount mishe rooye #app 
    -->





    <!-- entry point! -->
<div id="app" v-cloak>
    <table class='test' id="wrapper1">
        <tr>
            <td>
                <label for="first">نام</label>
                <input type="text" name="firstNameValue" id="first" v-model="firstName">
            </td>
            <td>
                <label for="last">نام خانوادگی</label>
                <input type="text" name="lastNameValue" id="last" v-model="lastName"> 
            </td>
        </tr>
        <tr>
            <td>
                <label for="edu"> مدرک تحصیلی</label>
                <select name="education" id="edu">
                    <option value="سیکل">سیکل</option>
                    <option value="دیپلم">دیپلم</option>
                    <option value="لیسانس">لیسانس</option>
                    <option value="فوق لیسانس">فوق لیسانس</option>
                    <option value="دکترا">دکترا</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="ezdevaj">وضعیت تأهل</label>
                <input @click="checkboxHandler" type="checkbox" id="ezdevaj">
                <span id="ezdevajMessage"></span>
            </td>   
        </tr>
        
    </table>


    <table class="container">   
        <tr>
            <td>
                <button id="registerButton" class="button" @click="register">ثبت</button>

            </td>
            <td>
                
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspشماره ردیف</span>
                <input id="deleteField" type="text">
                <button id="deleteButton" class="button" @click="deleteItem">حذف</button>

            </td>

        </tr>
    </table>



    <table id="wrapper2">
        <tr>
            <td>ردیف</td>
            <td>نام و نام خانوادگی</td>
            <td>مدرک تحصیلی</td>
            <td>وضعیت تأهل</td>
            <td><button id="sample">x</button></td>
        </tr>
        <tr>
            <td>x</td>
            <td>صادق کاشانی</td>
            <td>لیسانس/دیپلم و...</td>
            <td>{{ `\u2714 / \u2716` }}</td>
            <td><button class="deletebutton">x</button></td>
            
        </tr>
    </table>
</div>


    <script src="./cdn/vue3.js" defer></script>
    <script src="app.js" defer></script>

</body>
</html>