/* nemidoonam kar mikone font ha ye file dge bashe link bedam to document
vali inja estefa konam , ya bayad import konam :( 
zaheran kar mikone vali dge import nemidoonam vase chie*/


/* @import url(./font/font.css); */

* {
    direction: rtl;
    font-family: Vazir;
    margin: 0;
    padding: 0;
    border: 0;    
}

[v-cloak] {
    display: none;
}
#app p {
    display: flex;
    justify-content: center;
    color: rgb(30, 32, 32);
    margin: 0 auto;
}
#wrapper1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(255, 211, 211), rgb(255, 255, 255));
    height: 100px;
    min-width: 600px;
    margin: 0 auto;
}
input[type=text] {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 7px;
    background-color: rgb(235, 227, 216);
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
}

input[name=firstNameValue]:focus{
    outline: none;
    border: 1px solid black ;
    background-color: rgba(0, 255, 106, 0.137);
}
input[name=lastNameValue]:focus{
    outline: none;
    border: 1px solid black ;
    background-color: rgba(0, 255, 106, 0.137);
}