/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* nemidoonam kar mikone font ha ye file dge bashe link bedam to document
vali inja estefa konam , ya bayad import konam :( 
zaheran kar mikone vali dge import nemidoonam vase chie*/


/* @import url(./font/font.css); */


/* نکته ی مهم بعدی اینه که مرورگر ها ممکنه بعضی از استایل ها رو نتونن استفاده کنن ، پس با 
css prefixi 
اون ها رو قبل از استفاده ی نهایی اصلاح و فایل نهایی رو توی 
stylePrefixcss.css
قرار می دیم :) */

* {
    direction: rtl;
    font-family: Vazir;
    margin: 0;
    padding: 0;
    border: 0;    
}
*::-moz-selection {
    background-color: #56ffda;
}
*::selection {
    background-color: #56ffda;
}

[v-cloak] {
    display: none;
}

#app p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: rgb(30, 32, 32);
    margin: 0 auto;
}
#wrapper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 211, 211)), to(rgb(255, 255, 255)));
    background-image: -o-linear-gradient(rgb(255, 211, 211), rgb(255, 255, 255));
    background-image: linear-gradient(rgb(255, 211, 211), rgb(255, 255, 255));
    height: 200px;
    min-width: 800px;
    padding-top: 50px;
    
}

input[type=text] {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 7px;
    background-color: rgb(235, 227, 216);
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
}

input[type=text]:focus , 
input[type=text]:focus {
    outline: none;
    border: 2px solid rgb(0, 31, 0) ;
    background-color: rgba(0, 255, 106, 0.137);
}
#app #wrapper1 select {
    margin: 0 65px;
}
#ezdevaj {
    margin: 0 70px 0 20px;
}
#ezdevajMessage {
    color: rgb(90, 90, 90);
}
.addElement {
    border: 2px solid #024100 !important;
    background-color: #fefff1 !important;
}
#wrapper2 tr:first-child {
    border: 2px solid #024100;
    background-color: #ffd8d8;
}
#wrapper2 {

    min-width: 700px;
    margin: 0 auto;
    margin-top: -10px;
    text-align: center;
    border-collapse: collapse;
}
#wrapper2 tr:first-child  td:first-child {
    font-size: 12px;
    background-color: #cecece;
    width: 50px;
}
#wrapper2 * {
    border-radius: 8px;
}
.button {
    border: 1px solid lightblue;
    -webkit-box-shadow: 1px 1px 1px  black inset;
            box-shadow: 1px 1px 1px  black inset;
    border-radius: 10px;
    font-size: 20px;
    width: 70px;
    margin: 30px auto;
}
.container {
    min-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.container *{
    margin: 10px auto;
}
#deleteField{
    padding-top: 3px;
    width: 4rem;
    height: 20px;
    margin-top: 10px;
}


